<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <form action="writePost" method="post">
            <div>
                <p> 제목 </p>
                <input type="text">
            </div>
            <div>
                <p> 내용 </p>
                <textarea clos="50" rows="10"> </textarea>
            </div>

            <input type="button" value="등록">
            <input type="button" value="취소">
        </form>
    </div>

</body>
</html>